<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakaof93f5fc80bab1f9b13cef7afaaf6f004</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.176231985391-pj7svna6mhio0t5u0e3pe4r5f4vka84m</string>
			</array>
		</dict>
	</array>
	<key>KAKAO_APP_KEY</key>
	<string>f93f5fc80bab1f9b13cef7afaaf6f004</string>
	<key>KAKAO_NATIVE_APP_KEY</key>
	<string>f93f5fc80bab1f9b13cef7afaaf6f004</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
	</dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>LostItem에서 사진첩에 접근합니다. 허용하시겠습니까?</string>
	<key>NSCameraUsageDescription</key>
	<string>LostItem에서 사진 촬영 기능을 접근하려 합니다. 허용하시겠습니까? </string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>LSApplicationQueriesSchemes</key>
		<array>
			<string>kakaokompassauth</string>
			<string>kakaolink</string>
		</array>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
        <key>NSLocationAlwaysUsageDescription</key>
        <string>사용자의 위치를 받습니다.</string>
</dict>
</plist>
